 @import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600;1,700&display=swap');


 * {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
 }

 html {
     font-size: 62.5%;
 }

 .line {
     margin: 2%;
     background-color: rgb(0, 0, 0);
     height: 3px;
     width: 60%;
     margin-left: 20%;
     margin-right: 20%;
 }

 body {
     overflow-x: hidden;
 }

 .header {
     min-height: 100vh;
     width: 100%;
     background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/bg1.jpg);
     background-position: center;
     background-size: cover;
     position: relative;

 }

 nav {
     display: flex;
     padding: 0% 6%;
     justify-content: space-between;
     align-items: center;
     background-color: #1c1c1d;
 }

 nav div {
     font-size: 3rem;
     color: #fff;
 }

 nav img {
     padding: 5px 5px 0px 0px;
     width: 30px;
     mix-blend-mode: lighten;
 }

 .nav-links {
     flex: 1;
     text-align: right;
 }

 .nav-links ul li {
     list-style: none;
     display: inline-block;
     padding: 5px 12px;
     font-weight: bold;
     position: relative;
 }

 .nav-links ul li a {
     color: #fff;
     text-decoration: none;
     font-size: 1.5rem;
 }

 .nav-links ul li::after {
     content: '';
     width: 0%;
     height: 4px;
     background: #f44336;
     display: block;
     margin: auto;
     transition: 0.6s;
 }

 .nav-links ul li:hover::after {
     width: 100%;
 }

 .nav-links ul li:hover {
     transform: scale(1.1);
 }

 .text-box {
     width: 90%;
     color: #fff;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }

 .text-box p {
     margin: 10px 0 40px;
     font-size: 2.5rem;
     color: #fff;
 }

 .know-btn {
     display: inline-block;
     text-decoration: none;
     color: #fff;
     border: 1px solid #fff;
     padding: 10px 20px;
     font-size: 1.3rem;
     background: transparent;
     position: relative;
     cursor: pointer;
 }

 .know-btn:hover {
     border: 1px solid #f44336;
     font-weight: bold;
     background: rgba(244, 67, 54, 0.1);
     transition: 1s;
 }

 nav .fa {
     display: none;
 }


 /* about */


 #about {
     width: 100vw;
     height: 100vh;
     background-color: #fff;
     background-position: bottom;
     background-size: cover;
     display: flex;
     justify-content: left;
 }

 #about div {
     margin-left: 20px;
     margin-top: 5%;
 }

 .logo {

     text-align: center;
     font-size: 5rem;
     margin-bottom: 20px;
     margin-left: 20px;
 }

 .logo img {
     padding: 5px 5px 0px 0px;
     width: 40px;
     mix-blend-mode: darken;
 }



 #about div h1 {
     margin-left: 20px;
     font-size: 2.5rem;
     margin-bottom: 10px;
     text-align: left;
     color: rgb(0, 0, 0);
 }


 #about div p {
     margin-left: 20px;
     text-align: left;
     font-size: 2rem;
     color: #201616;
     font-weight: bold;
     letter-spacing: 1px;
     word-spacing: 3px;
 }



 /* services section */
 /* servicesss */
 .servicesss {
     width: 100%;
     margin: auto;
     text-align: center;
     padding-top: 50px;
     background-size: cover;
     justify-content: left;


 }

 .servicesss h1 {
     margin-left: 20px;
     margin-top: 20px;
     text-align: left;
     font-size: 3.6rem;
     font-weight: 600;
 }

 .servicesss p {
     color: grey;
     font-size: 1.4rem;
     font-weight: 400;
     line-height: 22px;
     padding: 10px;
 }

 .row {
     width: 100%;
     margin-top: 3%;
     display: flex;
     justify-content: space-between;

 }

 .servicesss-col {
     margin: 1% 2%;
     flex-basis: 31%;
     background: rgb(248, 243, 243);
     border-radius: 10px;
     margin-bottom: 2%;
     padding: 20px 12px;
     box-sizing: border-box;

 }

 .servicesss h3 {
     text-decoration: underline;
     text-align: center;
     font-weight: 600;
     margin: 10px 0;
 }

 .servicesss-col:hover {
     box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
 }



 /* team layout */

 .team {
     width: 100%;
     height: 100vh;
     text-align: center;
     padding-top: 50px;
     background-size: cover;
     justify-content: left;
 }

 .team-col {
     flex-basis: 31%;
     border-radius: 10px;
     /* margin-bottom: 5%; */
     text-align: center;
 }

 .team-col img {
     width: 35%;
     border: 2px solid black;
     border-radius: 100px;
     box-shadow: 12px 10px rgba(231, 182, 142, 0.404);
 }

 .team-col img:hover {
     transform: scale(1.02);
     transition: 1s;
 }

 .team-col p {
     padding: 0;
 }

 .team-col h3 {
     margin-top: 16px;
     margin-bottom: 15px;
     text-align: center;
 }


 /* footer Section */

 .footer {
     height: 100vh;
     width: 100%;
     padding: 10px 0;
     background-image: url(img/bg.jpg);
     background-position: center;
     background-size: cover;
     position: relative;

 }

 .footer p {
     color: rgb(255, 255, 255);
     width: 100%;
     text-align: center;
     font-size: 1.5rem;

 }

 .footer h1 {
     margin-top: 5%;
     margin-bottom: 25px;
     color: rgb(255, 255, 255);
     /* margin-top: 20px; */
     font-size: 5rem;
     font-weight: 800;
     text-align: center;
 }

 .icons .fa {

     color: #ffffff;
     font-weight: 700;
     left: 0;
     font-size: 3rem;
     text-shadow: 2px 2px #b4abab8f;
     margin: 0 13px;
     cursor: pointer;
    margin: auto;
     padding: 1% 50%;
 }

.footer > h2{
    margin-top: 3%;
    font-size: 2rem;
    text-decoration: wavy;
    color: white;
    text-align: center;
}

 .icons .fa:hover {
     transform: scale(1.01);
     transition: 1s;
 }

.gotoform{
    float: right;
    margin-right: 5%;
    text-decoration: none;
    color: white;
    border:  2px double white;
    border-radius: 35%;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1%;
}
.gotoform:hover{
    box-shadow: 10px 20px 100px 0 rgb(236, 234, 234);
    background-color: #29201f;
}


 /* Contact Section */
 .contact {
     padding: 2.5vh;
 }

 .contact h2 {
     color: rgb(0, 0, 0);
     margin-bottom: 2.5vh;
     text-align: center;
     font-size: 2rem;
 }


 .contact .contact-form {
     background-color: rgb(247, 241, 247);
     color: black;
     padding: 1rem;
     box-shadow: 10px 20px 100px 0 black;
     width: 80%;
     margin: auto;
     border: px solid beige;
     border-bottom: 1px solid #1c1c1d;
     border-right: 1px solid #1c1c1d;
     border-bottom-right-radius: 2rem;
 }


 .contact p {
     padding: 0.75rem;
 }

 .contact label {
     display: block;
     margin-bottom: 0.5rem;
     font-size: 1.5rem;

 }

 .contact input,
 .contact textarea,
 .contact button {
     width: 100%;
     border: 1px solid black;
 }

 .contact input,
 .contact textarea {
     background-color: transparent;
     border: 2px solid transparent;
     border-bottom: 2px solid rgb(41, 29, 29);
     color: rgb(12, 11, 11);
     outline: none;
     padding: 0.5rem;
 }

 .contact input:focus,
 .contact textarea:focus {
     background-color: rgb(255, 255, 255);
     border-radius: 2rem;
     color: rgb(0, 0, 0);
 }

 .contact button {
     background-color: rgb(255, 255, 255);
     border: 2px rgb(0, 0, 0) solid;
     color: rgb(3, 3, 3);
     border-radius: 12px;
     cursor: pointer;
     padding: 0.5rem;
     font-weight: bold;
 }

 .btnsend {
     font-size: 2rem;
     width: 30%;
     margin: auto;
 }

 .contact button:hover {
     background-color: rgb(255, 255, 255);
     border: 2px rgb(99, 95, 95) solid;
     color: rgb(3, 3, 3);
     transform: scale(1.02);
     transition: color 1s ease-in-out, background-color 1s ease-in-out;
 }



 .contact .contact-info {
     background-color: blue;
     color: grey;
     grid-column: 1 / span 5;
     padding: 1rem;
 }

 .contact .contact-info h3 {
     text-align: center;
 }

 .contact .contact-info p {
     margin-top: 1rem;
 }

 .contact .contact-info li {
     margin-top: 1rem;
 }

 /* MQ TABLET & PC */

 @media (min-width: 700px) {
     .contact {
         padding: 15vh;
     }

     .contact h2 {
         margin-bottom: 5vh;
     }

     .contact .contact-form {
         grid-column: 1 / 4;
     }

     .contact .contact-info {
         grid-column: 4 / 6;
     }

     .contact .contact-info p {
         font-size: 0.8rem;
         margin-top: 1rem;
     }

     .contact .contact-info li {
         font-size: 0.8rem;
         margin-top: 1rem;
     }
 }

 /* MQ PC */

 @media (min-width: 993px) {

     .contact p,
     .contact input,
     .contact textarea,
     .contact button {
         font-size: 1.125rem;
     }

     .contact .contact-info p {
         font-size: 1.125rem;
     }

     .contact .contact-info li {
         font-size: 1.125rem;
     }
 }

 @media (min-width: 1280px) {
     .contact {
         margin: 0 auto;
         width: 1280px;
     }
 }



 /* Foooter */
 footer {
    background-color: rgb(46, 44, 44);
    color: rgb(255, 255, 255);
    padding-top: 40px;
}

footer div{
    left: 25%;
    right: 25%;
    padding: 0 20%;
}
footer a {
    color: rgb(252, 250, 250) ;
    font-size: 0.8rem;
    text-decoration: none;
}

  footer a:hover {
    color: red;
    font-size: 1rem;
    transition: font-size 1s;
  }
  
  footer p {
    letter-spacing: 1.5px;
    text-align: center;
  }
  
  footer .links-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto;
    justify-content: space-evenly;
  }
  
  footer ul {
    list-style-type: none;
  }
  
  footer li {
    margin-top: 15px;
    text-align: center;
  }
  
  footer h3 {
    letter-spacing: 2px;
    padding: 40px 0;
    text-align: center;
  }
  
  /* MQ TABLET */
  
  @media (min-width: 650px) and (max-width: 992px) {
    footer .links-container {
      grid-template-columns: auto auto;
    }
  }
  
  /* MQ PC */
  
  @media (min-width: 993px) {
    footer .links-container {
      grid-template-columns: auto auto auto auto;
    }
  }
